*{
    box-sizing: border-box;
}
form{
    width: 90%;
}
.radio-group{
    display: flex;
    /* width: 80%; */
    flex-wrap: nowrap;
    justify-content: center;
    margin: 10px auto;
}
@media (max-width: 450px) {
    .radio-group{
        width: 95%;
    }
}

.radio{
    width: 100%;
    margin: 10px;
    text-align: center;
    font-size: 22px;
}

@media (max-width: 450px) {
    .radio{
        margin: 0 4px;
    }
}

.discription{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 40px 10px;
}
.radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.radio-input:checked + .radio-tile {
    border-color: #2075F3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    background-color: #2075F3;
}
.radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2075F3;
    border-color: #ffffff;
}
.radio-input:checked + .radio-tile .radio-icon,
.radio-input:checked + .radio-tile .radio-label {
    color: #ffffff;
}
.radio-input:focus + .radio-tile {
    border-color: #2075F3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}
.radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    min-height: 7rem;
    border-radius: 0.5rem;
    border: 1px solid #DDE3E9;
    background-color: #fff;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}
.radio-group.score .radio-tile{
    min-height: 4rem;
}
@media (max-width: 450px) {
    .radio-group.score .radio-tile{
        min-height: 0;
    }
}
.radio-group.score .radio-tile:before{
    display: none;
}

.radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #DDE3E9;
    background-color: #fff;
    border-radius: 50%;
    top: 10%;
    left: 15px;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%232075F3' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.radio-tile:hover {
    border-color: #2075F3;
}
.radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.radio-icon {
    transition: 0.375s ease;
    color: #494949;
}
.radio-icon svg {
    width: 3rem;
    height: 3rem;
}

.radio-label {
    color: #343A40;
    transition: 0.375s ease;
    text-align: center;
}

.button-group{
    display: flex;
    margin: 0 5px;
    align-items: center;
    justify-content: center;
}