body {
    font-family: 'Noto Sans TC', sans-serif;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    position: relative;
    background-attachment: fixed;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.w-100 {
    width: 100%
}

.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pb-30 {
    padding-bottom: 30px;
}

.text-center {
    text-align: center;
}

button,
label,
input[type=submit],
input[type=radio],
input[type=button] {
    cursor: pointer;
    transition: 0.3s;
}

button:hover,
label:hover,
input[type=submit]:hover,
input[type=radio]:hover,
input[type=button]:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.btn-primary {
    background-color: #2075F3;
    color: white;
    font-size: 18px;
    height: 42px;
    padding: 0 20px;
    border-radius: 21px;
    border: none;
    width: 120px;
}

.btn-secondary {
    background-color: transparent;
    color: #2075F3;
    font-size: 18px;
    height: 42px;
    padding: 0 20px;
    border: solid 1px #2075F3 !important;
    border-radius: 21px;
    border: none;
    width: 120px;
}

.btn-outline {
    height: 36px;
    color: #2075F3;
    border: solid 1px #2075F3;
    padding: 0 12px;
    background-color: transparent;
    border-radius: 18px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-outline span{margin-right: 4px;}

/*----- index -----*/
.index-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 60px 0px;
    position: relative;
}

.index-content img {
    width: 70%;
    margin-bottom: 40px;
}


.index-content h2 {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}

.index-content ul {
    width: 50%;
    margin-bottom: 30px;
}

.index-content li {
    color: white;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
}
@media (max-width: 767px) {
    .index-content {
        padding: 40px 10px;
    }
    .index-content img {
        width: 100%;
        margin-top: 60px;
    }
    .index-content ul {
        width: 90%;
        margin-bottom: 30px;
    }
}
.index-content p {
    font-size: 16px;
    line-height: 1.4;
    color: #343A40;
    text-align: center;
}

.index-content p span {
    color: #2075F3;
    font-size: 20px;
}

/*----- main section -----*/
nav {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    z-index: 10;
}

nav button {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid #DDE3E9 1px;
    border-radius: 4px;
}

nav button svg {
    color: #2075F3;
}

nav button:hover {
    background-color: #2075F3;
    transition: ease 0.5s;
}

nav button:hover svg {
    color: white;
}

div.header {
    z-index: 2;
    padding: 10px 0;
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}


div.header span {
    color: #2075F3;
}

@media (max-width: 450px) {
    div.header span:first-child {
        display: none;
    }
}

div.progress-bar {
    height: 10px;
    width: 50%;
    margin: 0 20px;
    background-color: #E9ECEF;
    border-radius: 5px;
}

@media (max-width: 450px) {
    div.progress-bar {
        order: 1
    }
}

div.progress-bar div {
    height: 10px;
    background-color: #2075F3;
    border-radius: 5px;
}


div.main-content {
    padding: 40px 150px;
    display: flex;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/* @media (min-width: 451px) and (max-width: 768px) {
    div.main-content {
        padding: 20px 60px;
    }
} */

@media (max-width: 767px) {
    div.main-content {
        padding: 30px 10px;
    }
}

div.main-content p {
    font-size: 16px;
    color: #343A40;
    line-height: 1.5;
}

div.question {
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

@media (max-width: 450px) {
    div.question {
        padding-bottom: 20px;
    }
}

div.question h2 {
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    color: #2075F3;
    margin-top: 20px;
    margin-bottom: 12px;
    line-height: 1.4;
}

@media (max-width: 450px) {
    div.question h2 {
        font-size: 24px;
    }
}

div.question p {
    /* margin: 0 0 20px 0; */
    color: #656C73;
}

div.question button span {
    margin-right: 4px;
    height: 24px;
}

.answer-group {
    width: 90%;
}

@media (max-width: 450px) {
    .answer-group {
        width: 100%;
    }
}

.answer-group form {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 30px 0;
    padding: 0 30px;
}

@media (min-width: 451px) and (max-width: 768px) {
    .answer-group form {
        padding: 0;
    }
}

@media (max-width: 450px) {
    .answer-group form {
        padding: 0;
    }
}

.answer-group form label {
    padding: 10px;
    background-color: white;
    color: #343A40;
    border: solid 1px #DDE3E9;
    border-radius: 8px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 450px) {
    .answer-group form label {
        padding: 6px;
        margin-right: 6px;
    }

    .answer-group form {
        padding: 0 12px;
    }
}


.answer-group form label:last-child {
    margin-right: 0;
}



.answer-group form label.basic-radio {
    height: 102px;
}

.answer-group form label.rating-radio {
    height: 50px;
}

.answer-group form label input {
    margin-bottom: 10px;
    height: 20px;
}

@media (max-width: 450px) {
    .answer-group form label input {
        margin-bottom: 2px;
    }
}

.answer-group .discription {
    margin: 10px 0 40px 0;
    padding: 0 30px;
}

.answer-group .discription span {
    flex: auto;
    text-align: center;
    color: #343A40;
}

.answer-group .discription span:first-child {
    text-align: left;
}

.answer-group .discription span:last-child {
    text-align: right;
}

.answer-group textarea,
.answer-group input[type=text] {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #343A40;
    border: solid 1px #DDE3E9;
    border-radius: 8px;
    font-size: 18px;
}

.answer-group textarea::placeholder,
.answer-group input[type=text]::placeholder {
    color: #A3A9AE;
}

.answer-group .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
}

.answer-group .contact p {
    width: 100px;
    color: #343A40;
    font-size: 18px;
    margin-right: 12px;
}

.feature-group {
    width: 90%;
    margin-bottom: 30px;
}

.feature-group .item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media (max-width: 450px) {
    .feature-group .item {
        min-height: 320px;
    }
}

.feature-group .item img {
    width: 50%;
    height: auto;
}
@media (min-width: 1100px) and (max-width: 1400px) {
    .feature-group .item img {
        width: 80%;
    }
}
@media (max-width: 1099px) {
    .feature-group .item img {
        width: 100%;
    }
}

.feature-group .item p {
    position: absolute;
    padding: 30px;
    border-radius: 8px;
    background-color: white;
    border: solid 1px #2075F3;
    color: #2075F3;
    font-size: 22px;
}

.feature-group .item p.right {
    bottom: 5%;
    right: 10%;
}

/* @media (min-width: 451px) and (max-width: 991px) {
    .feature-group .item p.right,
    .feature-group .item p.left {
        padding: 16px;
    }
    .feature-group .item img {
        width: 100%;
        height: 100%;
    }
  } */
@media (max-width: 1099px) {

    .feature-group .item p.right,
    .feature-group .item p.left{
        padding: 16px;
        position: inherit;
        width: 80%;
        right: 0;
        font-size: 18px;
        margin-bottom: 20px;
    }


    .feature-group .item img {
        width: 100%;
    }
}

.feature-group .item p.left {
    bottom: 5%;
    left: 10%;
}

.feature-group .owl-carousel {
    position: relative;
}

/* The Lightbox Modal (background) */
.lightboxModal,
.ratingModal,
.dialogModal {
    z-index: 20;
    display: none;
    position: fixed;
    padding-top: 15vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.lightboxModal,
.dialogModal {
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.ratingModal {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.95);
}

.lightboxModal .content,
.ratingModal .content,
.dialogModal .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lightboxModal .content h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}

.lightboxModal .content h3 {
    color: #2075F3;
    font-size: 20px;
    margin-bottom: 20px;
}

.lightboxModal .content p {
    color: #343A40;
    font-size: 16px;
    line-height: 1.4;
}

.lightboxModal .content img {
    width: 70%;
    border-radius: 20px;
}

@media (min-width: 451px) and (max-width: 768px) {
    .lightboxModal .content img {
        width: 92%;
    }
}

@media (max-width: 450px) {
    .lightboxModal .content img {
        width: 92%;
        border-radius: 8px;
    }
}

.ratingModal p {
    font-size: 20px;
    color: #343A40;
    margin-bottom: 30px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}